/**
 * Name: Allam Amzad
 * Email: aamzad@caltech.edu
 * Date: 6/14/2024
 *
 * This is the styles.css file for my Pokemon Store final project. 
 * This stylesheet builds the view of the Professor Oak's PokeStore
 * listings page and the product page of each Pokemon. The goal
 * is a fun, maximalist style to the store page, with Pokemon-themed
 * colors and decorations.
 */

/* Flex properties */
body, header, footer, #poke-info, #poke-info-left, #product-btns,
#recommended-team, #store, .card, #pokemon-product, 
#user-comment, #refine-search, #accreditations, #page-btns,
#all-pokemon, .card-div, .card-info-div, #all-pokemon-header,
.type-div, #contact-view, #contact-header, #cart-header,
#cart-pokemon, .form-entry, #cart-view {
  display: flex;
}

footer, .card-div, #recommended-team, #store, #contact-header, #cart-header,
#cart-pokemon {
  flex-direction: row;
}

body, #poke-info-left, #refine-search, .card, #pokemon-product,
.card-info-div, #contact-view, #cart-view {
  flex-direction: column;
}

#recommended-team, #all-pokemon, #cart-pokemon {
  flex-wrap: wrap;
}

/* Alignments/Justifcations */
header, main, footer, #pokemon-product, #accreditations, #all-pokemon-header,
.type-div, #contact-view, #contact-header, #cart-header, #cart-pokemon,
#cart-pokemon article, .form-entry, #cart-view {
  align-items: center;
}

#store {
  align-items: baseline;
}

header, #poke-info, #recommended-team,
#store, #user-comment, footer, #all-pokemon,
.card-div, #contact-view, .form-entry {
  justify-content: space-around;
}

body, .card-info-div {
  justify-content: space-between;
}

#all-pokemon-header, #accreditations, #page-btns, .type-div, .card {
  justify-content: center;
}

#poke-info-left {
  justify-content: flex-start;
}

/* Background colors */
#cart, #moves, footer {
  background-color: white;
}

#comments {
  background-color: rgb(255, 0, 0);
}

.move-selected {
  background-color: rgb(171, 247, 171);
}

button:hover {
  background-color: lightgray;
}

#cart-view {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Text properties */
h1, h2, h3, p, button, label, input, a, textarea {
  /* Source: Google Fonts, Author: CodeMan38
     [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0/)] */
  font-family: 'Press Start 2P', Verdana, sans-serif;
}

.customize-btn {
  font-size: 15px;
}

#cart-add-btn, #product-back-btn, #added-to-cart {
  font-size: 20px;
}

#listings > h2, #all-pokemon-header h2 {
  font-size: 30px;
}

#cart-header h2 {
  font-size: 50px;
}

h1, #comments, #message-area, #added-to-cart, #refine-search,
.poke-types p, #listings > h2, #all-pokemon-header h2 {
  color: white;
}

.card h2 {
  color: black;
}

#poke-info h1, #listings h1, .poke-types p, h2, footer {
  text-align: center;
}

.comment {
  text-wrap: wrap;
}

/* Border properties */
#poke-info, #moves, #poke-info-right section,
#cart, .card, .type-div, #comments, #refine-search,
#prev-btn, #next-btn, #cart-view hr {
  border: solid;
}

#poke-info, #moves, #poke-info-right section,
#cart, .card, .card img, .type-div,
#comments, #contact, #prev-btn, #next-btn {
  border-color: black;
}

#refine-search, #comments hr, #cart-view hr  {
  border-color: white;
}

hr {
  border-color: darkgray;
}

.card, .customize-btn, #poke-info-right section,
 #cart-add-btn, #moves button, #cart, #cart-view button, .type-div, 
 #product-back-btn, #refine-search, #contact, #cart-remove-btn  {
  border-radius: 10px;
}

#contact-view, #cart-view {
  border-radius: 20px;
}

header h1, #poke-info, #moves, #comments {
  border-radius: 30px;
}

#poke-info, #moves, .card, #comments, #contact, #refine-search {
  border-width: 5px;
}

/* Paddings */
#moves button, .type-div, #shiny-btn, #clear-search, #search-input {
  padding: 5px;
}

#poke-info img, #cart-add-btn, #cart, .customize-btn, #product-back-btn, 
#contact, #cart-view button, #prev-btn, #next-btn, #cart-remove-btn {
  padding: 10px;
}

#poke-info, #moves, #poke-info-right section, #comments, #refine-search,
#cart-view, #comments textarea {
  padding: 20px;
}

.card{
  padding: 30px;
}

footer, #contact-view {
  padding-top: 10px;
}

/* Margins */
#cart-pokemon article {
  margin-left: 15px;
  margin-right: 15px;
}

header {
  margin: 0;
}

#moves button, #cart-view button {
  margin: 5px;
}

#poke-info, #moves, #poke-info-right section, #comments {
  margin: 10px;
}

.search-div, #shiny-btn {
  margin-top: 10px;
}

#poke-info-right h2, #contact-header, #cart-header, header h1 {
  margin-top: 0;
}

#poke-info-right section, #contact-view input {
  margin-top: 20px;
}

#cart-add-btn, .customize-btn, #product-back-btn {
  margin-top: 30px;
}

footer, header h1 {
  margin-bottom: 0;
}

.search-div, .type-div, #contact-response {
  margin-bottom: 10px;
}

#poke-info-right section, #contact-view input {
  margin-bottom: 20px;
}

.card, #cart-add-btn, .customize-btn, #product-back-btn {
  margin-bottom: 30px;
}

#contact-header, #cart-header {
  margin-bottom: 35px;
}

#next-btn, #cart-add-btn {
  margin-left: 10px;
}

#contact-header img {
  margin-left: 170px;
}

#contact-header h2 {
  margin-left: 250px;
}

#cart-header img {
  margin-left: 500px;
}

#cart-header h2 {
  margin-left: 560px;
}

footer p, .type-div p, #prev-btn, #product-back-btn {
  margin-right: 10px;
}

#refine-search, input[type="checkbox"] {
  margin-right: 20px;
}

#all-pokemon-header h2, #all-pokemon-header img {
  margin-right: 50px;
}

/* Height/Width */
footer img, .type-div > img {
  height: 30px;
}

#cart-pokemon article {
  height: 650px;
}

#refine-search, video {
  height: 100%;
}

footer img, #all-pokemon-header img, .type-div > img {
  width: 30px;
}

#contact-header img, #cart-header img {
  width: 50px;
}

#cart {
  width: 100px;
}

#all-pokemon-header input {
  width: 200px;
}

#contact-view input, #contact-view textarea {
  width: 300px;
}

#frame img {
  width: 350px;
}

#cart-remove-btn {
  width: 400px;
}

#cart-pokemon article {
  width: 650px;
}

#refine-search, #contact-view {
  width: 35%;
}

.card, .card-div > img {
  width: 40%;
}

.card-info-div {
  width: 50%;
}

#poke-info, #moves, #comments, #comments textarea {
  width: 75%;
}

video, #cart-view hr {
  width: 100%;
}

/* Mouse properties */
button, header h1, #cart, #all-pokemon-header img,
#contact-header img:hover, #cart-header img:hover {
  cursor: pointer;
}

button:active {
  transform: translate(0px, 2px);
}

video, #contact-view {
  position: fixed;
}

/* Background video */
video {
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Professor Oak's Pokeshop Header */
header h1 {
  font-family: 'Pokemon Solid', sans-serif;
  -webkit-text-stroke: solid;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  font-size: 60px;
  font-weight: 1000;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

/* Contact Us background */
#contact-view {
  z-index: 1;
  top: 12%;
  left: 26%;
  height: 60%;
  border: 30px solid transparent;
  padding-bottom: 85px;
  background-color: rgb(255, 244, 212);
}

/* Refine search checkboxes */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: white;
}

/* Pokemon Shop footer */
footer {
  padding-bottom: 10px;
  margin-top: auto;
}

/* Pokemon Shop listings */
#listings {
  width: 80%;
  padding: 50px;
}

/* Pokemon Shop previous/next buttons */
#prev-btn, #next-btn {
  border-width: 2px;
  border-radius: 5px;
}

/* Hidden elements */
.hidden, #store.hidden, #pokemon-product.hidden, #recommended-team.hidden,
#contact-view.hidden, #contact-response.hidden, #cart-view.hidden {
  display: none;
}

/* Pokemon type colors. 
   Source: https://gist.github.com/apaleslimghost/0d25ec801ca4fc43317bcff298af43c3 */

.normal {
  background-color: #A8A77A;
}

.fire {
  background-color: #EE8130;
}

.water {
  background-color: #6390F0;
}

.electric {
  background-color: #F7D02C;
}

.grass {
  background-color: #7AC74C;
}

.ice {
  background-color: #96D9D6;
}

.fighting {
  background-color: #C22E28;
}

.poison {
  background-color: #A33EA1;
}

.ground {
  background-color: #E2BF65;
}

.flying {
  background-color: #A98FF3;
}

.psychic {
  background-color: #F95587;
}

.bug {
  background-color: #A6B91A;
}

.rock {
  background-color: #B6A136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #B7B7CE;
}

.fairy {
  background-color: #D685AD;
}
